<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name='projecte2e.Listen'/>
</listeners>
  <test thread-count="6" name="Test" parallel="tests">
    <classes>
      <class name="projecte2e.Tests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
